header 
    nav(class="logged-in-nav")
        a(href=`/jobEstimates/${authID}/${mongoID}`) 
            img(src="/images/estimate_icon.png", alt="estimates", srcset="", title="Estimates", class="nav-btn")
        a(href="/jobEstimates") 
            img(src="/images/calander_icon.png", alt="calander", srcset="", title="calander", class="nav-btn")
        a(href="/jobEstimates") 
            img(src="/images/Work_icon.png", alt="work", srcset="", title="work", class="nav-btn")
        a(href="/timeclock") 
            img(src="/images/Timeclock_icon.png", alt="timeclock", srcset="", title="Timeclock", class="nav-btn")
        a(href="/jobEstimates") 
            img(src="/images/Employee_icon.png", alt="Employees", srcset="", title="Employees", class="nav-btn")
        a(href="/jobEstimates") 
            img(src="/images/settings_icon.png", alt="Settings", title="Settings", class="nav-btn")