html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        
        link(type="text/css", rel='stylesheet', href='/css/style.css')
        //- link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD", crossorigin="anonymous")
        title IET | #{title}
        

    body(class="body")
        .nav-body-div
            //- TODO: make a new header for the home page 
            //- include _header
            
            block content

        <script src="https://kit.fontawesome.com/6e5c638125.js" crossorigin="anonymous"></script>