extends base  

block content
    .create-account-div
        form(action=`/createAccount/newUser/${authID}/${email}`, method="post", class="create-account-form")
            h2 Create your account today!
            label(for="firstName") First Name
            input(type="text", name="firstName") 
            label(for="lastName") last Name
            input(type="text", name="lastName") 
            label(for="email") email  
            input(type="email", name="email", placeholder=email)
            //- lable(for="password") Password
            //- input(type="password", name="password")
            //- label(for="passConfirm") Password Confirm
            //- input(type="password", name="passConfirm")
            button(type="submit") Create Account