extends homeBase 

block content
    nav(class="home-nav") 
        h1 IET 
        a(href="/login")
            h4 login 

    header(class="home-header") 
        img(src="https://c1.wallpaperflare.com/preview/648/942/394/person-worker-construction-sanding.jpg" class="header-img")
        p(class="header-text") A tool for construction workers, built by construction workers

    main(class="home-main-content")
        section 
            h4(class="section-title") What is IET?
            p IET is a administrative tool created to help save time and keep your company organized by letting you focus on the big things while we take care of the small things

        section
            h4(class="section-title") What can IET do for you?
            div 
                div
                    p IET has multiple features from helping you with your estimates to making sure your employees are taken care of 
                
                div 
                    ul 
                        li Itemized Estimating Tool 
                        li Employee Timeclock 
                        li Job Calendar 
                        li Upcoming Jobs 
                        li Job Overviews 
                        li Employee Page 
                        li Email Clients
            
        section 
            h4(class="section-title") Estimating Tool 
            p Estimates are a time consuming process (that you might not even be paid for).  With IET’s estimating tool you can automate portions of you estimate! Instead of manually searching for items you need for the job,  you can create a list of all the items you need to complete your project and get the total price for everything!

            h6(class="section-subtitle") Where do we get our prices from?
            p IET goes through the major construction retailers to get your prices and does a price comparison to make sure you get the most affordable price for your client. Keeping them happy and helping keep their wallet heavy.

            h6(class="section-subtitle") What happens once your estimate is finished?
            p Once your estimate is finished you will get a email letting you know you’re one step closer to getting that client. Want to give it to your client right away? If you chose to after you check your estimate you can have it automatically emailed to you client to let them know their project is your number one priority.
        
        section 
            h4(class="section-title") Employee Timeclock 
            p There are plenty of time clock apps out there, but none are meeting their full potential. Imagine a time clock where you can you can see a employees total hours for the week and see exactly how much to pay them. Now imagine seeing the total crews hours for the week and how much you have to pay them. Thanks to the time clock feature you’ll be able to do that! not only that but when a job is finished you can see the total hours on the job to help start figuring out the final cost for your client!

            h6(class="section-subtitle") All I see is the time?
            p It’s great to see the hours but what if you arnt at the job and want to know what was done? Well thanks to the notes feature of the time clock your employees can quickly jot down the task they got done for the day.

        section 
            h4(class="section-title") Calendar 
            p It’s important to keep track of all the upcoming jobs you have and to make sure you have a rough start date, IET is here to help you with just that. Thanks to the calendar feature you can have all your set up on a calendar where you and your employee’s can see them! Want to make sure your employees always know what the next job is and what to expect? Now they can with ease, this feature is able to be accessed by everyone but can only be edited by the company owner and people you choose to give the rewriting authorization too. At IET we know you might run into difficult or disgruntled employees and want to make sure they can’t ruin what you have worked hard to build.

            h6(class="section-subtitle") What makes this calendar so special?
            p Sense IET is built by construction workers and for construction workers we realize the domino effect moving one job can have. Thanks to the functionality built into the calendar, we realize that moving one job means moving more back. When one job runs past the expected end date, you can choose how far back you want to push end date, and update jobs affected by this with the click of a button. No more updating one job at a time, now all you have to do is update one job and the rest will be corrected and rescheduled without you having to do any extra work.

            h6(class="section-subtitle") But I still have to tell my client
            p We realize how important it is to keep the client in the loop and let them know whats going on. We have a built in email functionality where as long as we have your clients email address we can let them know their projects start date has been moved. Of course we still recommend calling and talking to your client to give them that personal touch, but this way you know you don’t have to worry about forgetting because we can let them know for you.

        section 
            h4(class="section-title") All Jobs 
            p With the All Jobs feature, your employees can be confident knowing they have continual work, and you can be confident that they’ll always know whats going on. With this feature you can break down all parts of the job or just give a simple scope of work for your employees to go off of so you dont have to be looking over their shoulder telling them what needs done next. Did they forget where the job is? We have you covered, in every job you have the ability to set the address for the job so that they’ll never have any reason to be late or go to the wrong place. Want to make sure you can remember client names and make sure they feel important? Well now if you forget all you have to do is look real quick and you can remember their names and make them feel that much more important and taken care of!

            h6(class="section-subtitle") But Jobs can run into problems and need supply list!
            p It’s important to keep your supply list, materials, and tools organized. We have features like supply list, notes, and task built in to make sure that whatever you need for a job can kept organized and neat all in one place. No need for that important list to get lost in your text messages anymore!

        section 
            h4(class="section-title") Employee Page
            p With the Employee Page tool, you set their wage to work along side the time clock tool, their position, their access to features like the estimating tool, and their access to the calendar to reschedule, delay jobs, and extend current jobs. It’s important for your employees to know you care about them too, which is why we have a info section where you can write a overview of them to make sure you remember all the important details to let them know they’re appreciated. Have you had a employee messing up a lot but dont want to get rid of them right away? You can also make notes about a employee to keep track of their wrong doings to make sure you have proper documentation to lay them off or fire them all while covering your own butt to keep you safe!