.itemized-main-content {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.itemized-side {
  width: 75vw;
}

.add-item-form {
  width: 30vw;
}

.filters-side {
  width: 15vw;
  display: flex;
  height: 55vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
